<h2>List All users</h2>

<table class="table table-striped table-bordered table-hover">  

        <thead>
            <tr>
                <th>Username</th>
                <th>Private?</th>
                
                <th> </th>
            </tr>
        </thead>  

   </table>
